# Custom things
*.idea*
/app/Http/Controllers/*/

# Packages
/node_modules/*

# Composer
/vendor/*
/workbench/*

# Env files
.env

# Editors
.vscode/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
creator/naveldev/framework/
